.cardb {
    background-color:#416B9D;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: 0 8px 12px rgba(0.5, 0.5, 0.5, 0.5);
    margin: 20px;
    padding: 20px;
    margin-left: 420px;
    width: 600px;
    height: 400px;
    overflow: visible;
    margin-bottom: 80px;
    margin-top: 40px    ;
}

.cardb-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.cardb-header h2 {
    color: #333;
}

.image{
    height: 180px;   
    width: 280px;
    margin-top: 90px;
    margin-left: -170px;
    position: absolute;
}

.h{
    text-align: center;
    color: white;
}

.ff{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.in{
    height: 30px;
    width: 200px;
}

.btn1{
    padding: 0px 20px;
    color:#416B9D ;
    text-decoration: none;
    border-radius: 12px;
    position: absolute;
    height: 25px;
    width: 90px;
    border-width: 2px;
    font-size: 14px;
    border-color:#fff;
    border-style: solid;
    top: 475px; 
    color: #fff;   
}

.btn1:hover{
    background-color:#fff ;
    color:black;

}