.ta{
    /* background-color: #416B9D; */
    color: #0624b7;
}
.maincontainer{
    border-radius: 10px;
    height: auto;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.states{
    border-radius: 10px;
    height: 160px;
    width: 100%;
    background: url('../../bd.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
thead{
    background-color: #416B9D;
    height: 40px;
    
}
.img-fluid{
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.usage{
    border-radius: 10px;
    height: 450px;
    width: 100%;
    margin-top: -180px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
